

.content {
    float: right;
    width: 900px;

    .head {

        padding: 20px;

        border: 1px solid @color2;
        border-radius: 5px 5px 0px 0px;

        h2 {
            margin: 0;
        }
    }

    table {

        width: 100%;

        border-spacing: 0;

        tr {
            height: 20px;
            overflow: hidden;
        }

        td {
            padding: 5px;
            border-bottom: 1px solid lightgray;
        }

        td.title {
            width: 200px;
        }

        td.description {
            overflow: hidden;
            text-overflow: ellipsis;
        }

        td.taskcount {
            width: 60px;
        }

        td.delete {
            width: 56px;
        }

    }

}